body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

#whole-container {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 800;
}

.sm_title {
  font-size: 18px;
  color: #999999;
  margin-bottom: 10px;
}

.bg_title {
  font-size: 2.5em;
}

#top_container {
  position: relative;
  width: 100%;
  height: 950px;
  background-image: url(images/bg_2.jpg);
}

.fixed_width {
  width: 1140px;
  margin: 0 auto;
}

#navbar-container {
  height: 78px;
  max-width: 1110px;
  background-color: white;
  padding-top: 20px;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

#eventalk-logo {
  padding-top: 13px;
  font-style: normal;
  font-size: 1.2em;
  color: black;
  flex: 4;
}

#eventalk-logo a:link {
  text-decoration: none;
  color: black;
}

#eventalk-logo a:hover {
  color: rgb(185, 175, 175);
}

#logo-talk {
  font-weight: 800;
}

#topmenu {
  padding-top: 15px;
  flex: 8;
}

#topmenu li {
  list-style: none;
  font-size: 0.9em;
  height: 100%;
  letter-spacing: 0.7px;
}

#topmenu li :hover {
  color: black;
}

#topmenu_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#topmenu a:link,
a:visited {
  color: black;
  text-decoration: none;
}

#buyButton {
  margin-top: -10px;
}

#buyButton button {
  color: white;
  background-color: rgb(111, 111, 247);
  width: 115px;
  height: 40px;
  font-size: 1.03em;
  border-radius: 3px;
  border: none;
}

#buyButton button:focus {
  outline: none;
}

.big_heading {
  width: 400px;
  height: 200px;
  margin-top: 550px;
}

#head_line {
  color: #6b75ff;
  font-size: 4em;
  letter-spacing: 6px;
}

#heading_subt a {
  float: left;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.15em;
}

#heading_subt a:hover {
  text-decoration: none;
  color: blue;
}

#sub_title_two {
  float: left;
  font-size: 1.15em;
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.3);
}

#contact_container {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #fff;
}

#contact_content {
  max-width: 1110px;
  margin: 0 auto;
  height: 558px;
  margin-top: 150px;
  color: rgb(153, 153, 153);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

#contact_info {
  position: relative;
  max-width: 1110px;
  height: 146px;
  padding-top: 100px;
}

#contact_title {
  float: left;
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
}

#contact_detail {
  float: left;
  width: 100%;
  height: 72px;
  margin-top: 15px;
}

.contact_detail_box {
  width: 25%;
  height: 72px;
  float: left;
}

.contact_detail_box p {
  font-size: 0.9em;
  color: rgb(153, 153, 153);
  letter-spacing: 0.8px;
  line-height: 1.9;
  font-weight: 500;
}

.contact_detail_box span {
  color: #1a1a1a;
}

.contact_content_box {
  height: 558px;
  background-color: #f8f9fa;
}

#contact_content_box_map iframe {
  height: 558px;
  width: 550px;
}

#contact_content_box_2 {
  margin-left: 30px;
}

#contact_content_box_2_detail {
  font-size: 0.9em;
  color: rgb(153, 153, 153);
  margin: 24px 0 0 53px;
}

.contact_input {
  height: 52px;
  width: 444px;
  border-radius: 5px;
  border: solid 1px rgb(206, 212, 218);
  margin-top: 16px;
  padding-left: 12px;
  padding-left: 12px;
  letter-spacing: 1px;
}

.contact_input:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 0.5px black, 0px 0px 1px black, 0px 0px 1.5px black;
}

#contact_message {
  height: 168px;
  width: 444px;
  border-radius: 5px;
  border: solid 1px rgb(206, 212, 218);
  margin-top: 16px;
  padding-left: 12px;
  padding-left: 12px;
  letter-spacing: 1px;
}

#contact_message:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 0.5px black, 0px 0px 1px black, 0px 0px 1.5px black;
}

#contact_content_box_2 button {
  margin-top: 16px;
  width: 227px;
  height: 58px;
  background-color: rgb(107, 118, 255);
  border-radius: 5px;
  color: white;
}

#contact_content_box_2 button:focus {
  outline: none;
}

#subscribe_container {
  width: 100%;
  height: 352px;
  background-color: #6b76ff;
}

#subscribe_container_content {
  position: absolute;
  width: 600px;
  height: 224px;
  margin: 64px 0 0 270px;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 0.95em;
}

#subscribe_detail {
  margin-top: 15px;
}

#subscribe_container_content form {
  padding-top: 10px;
}

#subscribe_input {
  height: 55px;
  width: 330px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  font-size: 1.05em;
  padding-left: 12px;
  letter-spacing: 2px;
}

#subscribe_input:focus {
  outline: none;
}

#submit_input {
  height: 57px;
  width: 120px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: blue;
  color: white;
  border: none;
  font-size: 1.05em;
  letter-spacing: 2px;
  margin-left: -4.25px;
}

#footer-container {
  width: 100%;
  height: 750px;
  background-color: #222831;
}

#footer-column {
  max-width: 1110px;
  height: 400px;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin: 0 auto;
}

.footer-card {
  flex: 1;
  height: 200px;
  margin-top: 220px;
}

.footer-card-content {
  margin: -110px 30px 0 0;
  letter-spacing: 1px;
  line-height: 1.7;
  color: gray;
}

.footer-card-content a {
  color: gray;
}

.footer-card-content a:link {
  text-decoration: none;
}

.footer-card-content a:hover {
  color: gray;
}

.footer-title {
  font-size: 1.3em;
  margin-bottom: 50px;
  color: white;
}

.Q-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.footer-text {
  color: rgb(241, 234, 234);
}

#footer-2 {
  padding-left: 40px;
}

#social-media {
}

.mediaicon {
  height: 25px;
  width: 25px;
  margin: 12.5px;
}

.icon-shapen {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.05);
  margin-right: 15px;
}

#copyright {
  float: left;
  text-align: center;
  color: rgb(206, 197, 197);
  font-size: 1.1em;
  letter-spacing: 1px;
  padding-top: 250px;
}
