body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

#whole-container {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 800;
}

.sm_title {
  font-size: 18px;
  color: #999999;
  margin-bottom: 10px;
}

.bg_title {
  font-size: 2.5em;
}

#top_container {
  position: relative;
  width: 100%;
  height: 950px;
  background-image: url(images/bg_2.jpg);
}

.fixed_width {
  width: 1140px;
  margin: 0 auto;
}

#navbar-container {
  height: 78px;
  max-width: 1110px;
  background-color: white;
  padding-top: 20px;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

#eventalk-logo {
  padding-top: 13px;
  font-style: normal;
  font-size: 1.2em;
  color: black;
  flex: 4;
}

#eventalk-logo a:link {
  text-decoration: none;
  color: black;
}

#eventalk-logo a:hover {
  color: rgb(185, 175, 175);
}

#logo-talk {
  font-weight: 800;
}

#topmenu {
  padding-top: 15px;
  flex: 8;
}

#topmenu li {
  list-style: none;
  font-size: 0.9em;
  height: 100%;
  letter-spacing: 0.7px;
}

#topmenu li :hover {
  color: black;
}

#topmenu_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#topmenu a:link,
a:visited {
  color: black;
  text-decoration: none;
}

#buyButton {
  margin-top: -10px;
}

#buyButton button {
  color: white;
  background-color: rgb(111, 111, 247);
  width: 115px;
  height: 40px;
  font-size: 1.03em;
  border-radius: 3px;
  border: none;
}

#buyButton button:focus {
  outline: none;
}

.big_heading {
  float: left;
  width: 350px;
  height: 200px;
  margin-top: 550px;
}

#head_line {
  color: #6b75ff;
  font-size: 4em;
  letter-spacing: 6px;
}

#speakers_subt a {
  float: left;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.15em;
}

#speakers_subt a:hover {
  text-decoration: none;
  color: blue;
}

#sub_title_speakers {
  float: left;
  font-size: 1.15em;
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.3);
}

#logistic_container {
  width: 100%;
  height: 500px;
  background-color: #f8f9fa;
}

#logistic_container_content {
  max-width: 1110px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

#logistic_box {
  flex: 1;
  padding: 28px;
}

.logistic_icon {
  width: 90px;
  height: 80px;
}

.logistic_title {
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 10px 0 0 10px;
  font-weight: 500;
}

.logistic_detail {
  font-size: 1em;
  color: #999999;
  letter-spacing: 1px;
  line-height: 2;
  margin-top: 15px;
}

#speakers_container {
  position: relative;
  width: 100%;
  height: 1400px;
}

.container_title {
  text-align: center;
  padding-top: 120px;
}

.speakers_content {
  width: 100%;
  height: 500px;
  margin-left: 10px;
}

#speaker_content_one {
  margin-top: 90px;
}

#speaker_content_two {
  margin-top: 20px;
}

.speaker_box {
  float: left;
  width: 380px;
  height: 500px;
}

.speaker_box_content {
  width: 350px;
  height: 500px;
  letter-spacing: 1px;
  text-align: center;
}

.speaker_pic {
  width: 350px;
  height: 373px;
}

.speaker_detail {
  width: 75%;
  height: 100px;
  margin-left: 50px;
  border-top: 1px solid rgb(78, 152, 236);
}

.speaker_name {
  font-size: 1.5em;
  color: black;
  font-weight: 500;
  padding-top: 20px;
}

.speaker_title {
  font-size: 0.9em;
  color: #999999;
  margin-top: -10px;
}

.icon-size {
  width: 14px;
  height: 14px;
}

.icon-margin {
  margin-right: 8px;
}

.speaker_contact {
  text-align: center;
  margin-top: -20px;
  display: none;
}

.speaker_box_content:hover + .speaker_contact {
  display: block;
}

#ticket_container {
  width: 100%;
  height: 1100px;
  background-color: #f8f9fa;
}

#ticket_container_content {
  max-width: 1110px;
  height: 700px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

.ticket_box {
  flex: 1;
  height: 600px;
  margin: 0 15px 0 15px;
  background-color: #fff;
}

.ticket_box_content {
  height: 522px;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  position: relative;
}

.ticket_heading {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 0.9em;
}

.price {
  color: rgb(107, 118, 255);
}

.price_number {
  font-size: 3.5em;
  font-weight: 600;
}

.dollar_sign {
  position: absolute;
  font-size: 1.8em;
  margin: 10px 0 0 -20px;
}

.per_Mon {
  color: #999999;
}

.enjoy {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  font-size: 0.85em;
  letter-spacing: 1.25px;
}

.price_detail {
  font-size: 0.95em;
  line-height: 3;
  letter-spacing: 1px;
  color: rgb(77, 77, 77);
}

.ticket_box button {
  width: 227px;
  height: 58px;
  background-color: rgb(107, 118, 255);
  border-radius: 5px;
  font-size: 1em;
  color: white;
  letter-spacing: 1px;
}

.ticket_box button:focus {
  outline: none;
}

#subscribe_container {
  width: 100%;
  height: 352px;
  background-color: #6b76ff;
}

#subscribe_container_content {
  position: absolute;
  width: 600px;
  height: 224px;
  margin: 64px 0 0 270px;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 0.95em;
}

#subscribe_detail {
  margin-top: 15px;
}

#subscribe_container_content form {
  padding-top: 10px;
}

#subscribe_input {
  height: 55px;
  width: 330px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  font-size: 1.05em;
  padding-left: 12px;
  letter-spacing: 2px;
}

#subscribe_input:focus {
  outline: none;
}

#submit_input {
  height: 57px;
  width: 120px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: blue;
  color: white;
  border: none;
  font-size: 1.05em;
  letter-spacing: 2px;
  margin-left: -4.25px;
}

#footer_container {
  width: 100%;
  height: 700px;
  background-color: #222831;
}

#footer-container {
  width: 100%;
  height: 750px;
  background-color: #222831;
}

#footer-column {
  max-width: 1110px;
  height: 400px;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin: 0 auto;
}

.footer-card {
  flex: 1;
  height: 200px;
  margin-top: 220px;
}

.footer-card-content {
  margin: -110px 30px 0 0;
  letter-spacing: 1px;
  line-height: 1.7;
  color: gray;
}

.footer-card-content a {
  color: gray;
}

.footer-card-content a:link {
  text-decoration: none;
}

.footer-card-content a:hover {
  color: gray;
}

.footer-title {
  font-size: 1.3em;
  margin-bottom: 50px;
  color: white;
}

.Q-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.footer-text {
  color: rgb(241, 234, 234);
}

#footer-2 {
  padding-left: 40px;
}

#social-media {
}

.mediaicon {
  height: 25px;
  width: 25px;
  margin: 12.5px;
}

.icon-shapen {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.05);
  margin-right: 15px;
}

#copyright {
  float: left;
  text-align: center;
  color: rgb(206, 197, 197);
  font-size: 1.1em;
  letter-spacing: 1px;
  padding-top: 250px;
}
